.snp-about  {color: #2e302e; }
.snp-about .about-hold h3 {background: #2e302e; color: #e8e7e7; margin-top: 0; font-size:20pt;font-family: 'HelveticaNeueLTStd45Light';font-weight: normal;}
.snp-about .about-hold  strong {font-family: 'HelveticaNeueLTStd65Medium'; text-align:right;}
.snp-about .about-text p {font-size: 12pt; font-family: 'HelveticaNeueLTStd65Medium';}

.snp-about .about-text .text-bold { font-size: 14pt; font-family: 'HelveticaNeueLTStd65Medium';}