.snp-faq {color: #111010;}
.snp-faq .section-content {padding: 0 15px;}
.snp-faq .section-title h3 {background: #2e302e; padding: 15px; color: #e8e7e7; margin-top: 0; font-family: 'HelveticaNeueLTCom75Bold';font-weight: normal;}
.snp-faq .section-content .faq-question {padding: 5px 0 20px; border-bottom: 1px solid rgba(37,37,37, 0.4);}
.snp-faq .section-content .faq-question:last-child {border-bottom: none;}
.snp-faq .section-content .faq-question a {font-size: 14px; text-decoration: none; line-height: 19px; display: block;}
.snp-faq .section-content .faq-question a > span {float: left;display: inline-block;width:15px;height:15px;padding: 0; line-height:15px;text-align:center;transition:0.5s;}
.snp-faq .section-content .faq-question a > span.spin { transform:rotate(90deg);}
.snp-faq .section-content .faq-question span {background-color: #ef2c2e; color: #fff; font-size: 12px; border: 1px solid; border-radius: 50%; padding: 1px 3px 0px; margin-right: 10px;}
.snp-faq .section-content .faq-question h4 {margin: 15px 0; font-family: 'HelveticaNeueLTCom75Bold';font-weight: normal;}

.snp-faq .section-content .faq-question > div {height:0;transition: 0.5s;overflow: hidden; }
.snp-faq .section-content .faq-question > div.opened {height: auto;}
.snp-faq .section-content .faq-question p {font-size: 13pt;display: block;}
.snp-faq .section-content .faq-question ul {margin-left: 0;}
.snp-faq .section-content .faq-question ul li {margin-bottom: 15px; font-size: 13pt; list-style-position: inside;}
