.snp-home .section-title {border-left: 3px solid #ff001a; padding: 0 5px 0 25px; margin: 15px 0 20px;}
.snp-home .section-title p {color: #464646;font-size: 15px;}
.snp-home .section-title p:first-child {font-size: 18px; margin-bottom: 20px; color: #000;}