@import url('faq.css');
@import url('howitworks.css');
@import url('about.css');
@import url('contactus.css');
@import url('customerbenefits.css');
@import url('comingsoon.css');
@import url('thankyou.css');
@import url('home.css');


@media screen and (min-width: 0) and (max-width:567px) {
	.logo-hold{background-size: auto 40px;}
    body.typage header.snp-header {min-height: 240px!important}
    body.typage .snp-thankyou {margin-top: 0;}
    body.typage .footer-text {font-size: 13pt;margin: 0;padding: 0;}
    
}