.snp-thankyou {padding: 0 15px;}
.snp-thankyou .thankyou-hold h4 {font-size: 14pt;font-family: 'HelveticaNeueLTStd65Medium'; margin-top: 0;line-height: 1.2em;}
.snp-thankyou .thankyou-content h4,p	{ font-size: 10pt; }
.snp-thankyou .thankyou-content  span {background-color: #ef2c2e; color: #fff; size: 12px; border: 1px solid; border-radius: 50%; padding: 1px 3px 0px;}
.snp-thankyou .thankyou-content  a { font-size: 10pt; text-decoration: none;}

.snp-thankyou .thankyou-content .thankyou-text {padding: 5px 0; font-family: 'HelveticaNeueLTStd65Medium'; font-weight: normal;padding-right: 20px;}