.snp-thankyou .thankyou-hold h4 {font-size: 14pt;font-family: 'HelveticaNeueLTStd65Medium'; margin-top: 0;line-height: 1.2em;}
.snp-thankyou .thankyou-content h4,p	{ font-size: 11pt; }
.snp-thankyou .thankyou-content  span {background-color: #ef2c2e; color: #fff; size: 12px; border: 1px solid; border-radius: 100%; padding: 1px 4px;}
.snp-thankyou .thankyou-content  a { font-size: 10pt; text-decoration: none;}
.snp-thankyou .thankyou-content p { display: inline;padding: 0 2px;}

.snp-thankyou .thankyou-content .thankyou-text { font-family: 'HelveticaNeueLTStd65Medium'; font-weight: normal;padding: 10px 0;}