

@font-face {
    font-family: 'HelveticaNeueLTCom75Bold';
    src: url('helveticaneueltcom-bd.eot');
    src: url('helveticaneueltcom-bd.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bd.woff') format('woff'),
         url('helveticaneueltcom-bd.ttf') format('truetype'),
         url('helveticaneueltcom-bd.svg#HelveticaNeueLTCom75Bold') format('svg');
}

/*HelveticaNeue*/
@font-face {
    font-family: 'HelveticaNeueLTStd57Condensed';
    src: url('helveticaneueltstd-cn-webfont.eot');
    src: url('helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('helveticaneueltstd-cn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-cn-webfont.svg#HelveticaNeueLTStd57Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('helveticaneueltstd-lt-webfont.eot');
    src: url('helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd97BlkCn';
    src: url('helveticaneueltstd-blkcn-webfont.eot');
    src: url('helveticaneueltstd-blkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-blkcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-blkcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-blkcn-webfont.svg#HelveticaNeueLTStd97BlkCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd67MdCn';
    src: url('helveticaneueltstd-mdcn-webfont.eot');
    src: url('helveticaneueltstd-mdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-mdcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-mdcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-mdcn-webfont.svg#HelveticaNeueLTStd67MdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd65Medium';
    src: url('helveticaneueltstd-md-webfont.eot');
    src: url('helveticaneueltstd-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-md-webfont.woff') format('woff'),
         url('helveticaneueltstd-md-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-md-webfont.svg#HelveticaNeueLTStd65Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
